@import "tailwindcss";
@source "../../../../packages/react/src"; /* Relative to CSS file */
@source "../../../../packages/react/dist"; /* Emitted JS files */
@source "../../packages/react/src";       /* Relative to PostCSS root */
@source "../../node_modules/easy-auth-react"; /* Dependency path */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
